.links{
  text-transform: capitalize;
}
body{
  background-image: url(/home/sarahlee/Exercices/BOOTSTRAP/Bootstrap-Site/html/images/the-stones.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
}
