.links{
  text-transform: capitalize;
}
body{
  background-image: url(../images/the-stones.jpg);
  background-size: 1000px;
  background-position: top;
  background-repeat: no-repeat;
}
.logo{
  vertical-align: top;
}
.container{
  margin-top: 80px;
}
