html{
  margin: 0;
  padding: 0;
  /*
  https://c1.staticflickr.com/8/7173/6598253987_530950c711_b.jpg
   */
}
body{
  background-image: url(../images/flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.logo{
  vertical-align: top;
}
.links{
  text-transform: capitalize;
}
.container{
  padding-top: 15px;
  margin-top: 80px;
}
.intro{
  /*opacity: 0.8;*/
  margin: 32px 0px;
}
.panels{
  padding: 30px 0px;
}
.card{
  opacity: 0.9;
  text-transform: capitalize;
}
