html{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://static.pexels.com/photos/305821/pexels-photo-305821.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo{
  vertical-align: top;
}
.links{
  text-transform: capitalize;
}
.container{
  margin-top: 80px;
}
